h1{
    font-size: 40px; color:darkseagreen; font-family: courier new; text-align: center
}
body{
    background-color: gainsboro
}
p{
    font-family: courier new; font-size: 30px; color: darkolivegreen
}
a{
    font-size: 25; text-align: center
}