body{
    Background-color:cadetblue
}
h1{ color:aquamarine; font-family: courier new; text-align: center; font-size: 40px; background-color: floralwhite; border-color: darkturquoise
}
p{
    font-family: courier new; font-size: 25px; color:floralwhite
}